<div class="container" id="modal">
	<button class="open-modal btn fixed-btn"><i class="glyphicon glyphicon-th-large"></i></button>

	<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam fugiat ratione pariatur cupiditate expedita quo sit, assumenda iste quia voluptatibus quam beatae ipsa, eos consectetur autem aut deleniti, totam fuga excepturi. Nulla odio, ipsam quasi reprehenderit quas esse est veritatis.</p>
	<a href="">Lorem ipsum dolor.</a>
	<h2>Perferendis optio tempora fuga sed, suscipit maiores vitae.</h2>
	<p>Doloremque ea officiis voluptatum repudiandae iure ipsum reiciendis minus vitae quia debitis suscipit molestias nisi voluptate maxime dicta accusantium quos, dolorem ab. Corporis, officia excepturi incidunt aliquam voluptatum illum, repellendus debitis delectus temporibus numquam, possimus amet asperiores totam blanditiis nisi.</p>
	<a href="">Dolores, ab, accusantium!</a>
	<h2>Voluptatibus totam eaque laboriosam itaque ipsum, quisquam blanditiis.</h2>
	<p>Ea alias eveniet libero modi mollitia deserunt ullam similique ad, aperiam a architecto sapiente odio delectus, totam voluptas dicta, sequi explicabo. Quod hic quibusdam, consequatur, excepturi culpa dolore inventore nisi, nihil exercitationem libero tempore autem unde quaerat ad cum quae?</p>
	<a href="">Quos, amet, atque.</a>
	<h2>Quod ipsum ea dolorem est distinctio, dolor rerum!</h2>
	<p>Commodi, rem quibusdam voluptatem quas neque architecto quia, culpa quis harum consequuntur nesciunt voluptatum cupiditate sit labore saepe, quo cum sint eos! Fugit perspiciatis quidem, voluptatum dolorum officiis sunt saepe minima neque odio consequatur tempore enim animi, dolore autem cum.</p>
	<a href="">Alias, delectus, a!</a>
	<h2>Similique neque dolor, error ipsa sit quod. At.</h2>
	<p>Repellat et inventore, totam eum maxime, illum sequi aliquid, corrupti sint quasi numquam sed explicabo. Assumenda voluptas, molestias magni ipsam. Nihil dolor labore aut quae explicabo doloremque eum corporis harum voluptatem quibusdam voluptas necessitatibus, dolorum id repellendus quisquam cumque nesciunt!</p>
	<a href="">Beatae, eligendi, voluptatem?</a>

</div>



<div class="Modal Modal--fullscreen">

	<header class="Modal__head">
		<a href="#">Yo</a>
	</header>

	<div class="Modal__body">
		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, fuga.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam reiciendis deserunt modi ullam assumenda magnam perferendis. Aperiam cumque illum eaque officiis, exercitationem ratione, facere, minus eligendi eius minima pariatur odit!</p>
		<h3>Dignissimos labore perferendis aspernatur deserunt facilis sint odio minima distinctio.</h3>
		<p>Labore beatae ipsum tempore quae laudantium voluptate cumque ipsa consequatur harum similique nulla vel, fuga, quibusdam unde dolor. Est consectetur ex, inventore necessitatibus, tempora itaque. Temporibus magnam est doloribus mollitia.</p>
		<h3>Officiis at pariatur eaque a vel quo enim asperiores blanditiis.</h3>
		<p>Cumque dolorum eos, natus. Voluptatibus, ipsa architecto omnis beatae eum autem voluptatem iure sapiente voluptas qui unde delectus harum, hic. Placeat, officiis, iusto autem vel laboriosam tempore quos explicabo eius!</p>
		<h3>Porro error magni adipisci, sint aut inventore sapiente temporibus esse.</h3>
		<p>Saepe a officiis, iste natus tenetur culpa itaque provident labore. Perspiciatis necessitatibus, aperiam labore dolorum illo! Ducimus eveniet corrupti illo, iste, molestias perferendis id libero fugiat repellendus maxime, quae maiores?</p>
	</div>

	<div class="Modal__foot">
		<small>2016</small>
	</div>

	<button class="Modal__close">&times;</button>

</div>

<script>

</script>
