<div class="container" id="modal">
	<button class="open-modal btn fixed-btn"><i class="glyphicon glyphicon-th-large"></i></button>
</div>

<div class="Modal Modal--fullscreen">

	<header class="Modal__head">
	</header>

	<div class="Modal__body">
		<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, fuga.</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam reiciendis deserunt modi ullam assumenda magnam perferendis. Aperiam cumque illum eaque officiis, exercitationem ratione, facere, minus eligendi eius minima pariatur odit!</p>
		<h3>Dignissimos labore perferendis aspernatur deserunt facilis sint odio minima distinctio.</h3>
		<p>Labore beatae ipsum tempore quae laudantium voluptate cumque ipsa consequatur harum similique nulla vel, fuga, quibusdam unde dolor. Est consectetur ex, inventore necessitatibus, tempora itaque. Temporibus magnam est doloribus mollitia.</p>
		<h3>Officiis at pariatur eaque a vel quo enim asperiores blanditiis.</h3>
		<p>Cumque dolorum eos, natus. Voluptatibus, ipsa architecto omnis beatae eum autem voluptatem iure sapiente voluptas qui unde delectus harum, hic. Placeat, officiis, iusto autem vel laboriosam tempore quos explicabo eius!</p>
		<h3>Porro error magni adipisci, sint aut inventore sapiente temporibus esse.</h3>
		<p>Saepe a officiis, iste natus tenetur culpa itaque provident labore. Perspiciatis necessitatibus, aperiam labore dolorum illo! Ducimus eveniet corrupti illo, iste, molestias perferendis id libero fugiat repellendus maxime, quae maiores?</p>
	</div>

	<div class="Modal__foot">
		<small>2016</small>
	</div>

	<button class="Modal__close">&times;</button>

</div>

<script>

</script>
