<div class="container" id="modal">

    <button class="open-modal btn fixed-btn">
        <i class="glyphicon glyphicon-th-large"></i>
        <span style="font-size: 17px;">
            <center>Tous les lieux</center>
        </span>
    </button>

</div>

<div class="Modal Modal--fullscreen">

    <i class="Modal__close">&times;</i>

    <div class="col-md-12">
        <div class="col-md-6" ng-repeat="dataall in data">
          <div class="grid">
              <figure class="effect-sarah">
                  <img src="img/opera.jpg" alt="opera"/>
                  <figcaption>
                      <h4>{{dataall.Nom}}</h4>
                      <p>{{dataall.Adresse}}</p>
                      <a ng-click="$ctrl.star = !$ctrl.star">
                          <span ng-style="($ctrl.star ? {color:'yellow'} : {color:'black'})" class="glyphicon glyphicon-star"></span>
                      </a>
                      <a ng-click="$ctrl.heart = !$ctrl.heart">
                          <span ng-style="($ctrl.heart ? {color:'red'} : {color:'black'})" class="glyphicon glyphicon-heart"></span>
                      </a>
                  </figcaption>
              </figure>
          </div>


        </div>
    </div>
</div>

</div>
