<header class="Modal__head">
	<h1>Sélectionnez le thème de votre itinéraire </h1>
</header>

<div class="Modal__body">

	<div class="container ">
		<div class="row">
			<div class="col-md-2 picto icon-romantique" ng-class="{'active':($ctrl.selected == 'Romantique')}" id="romatique" ng-click="$ctrl.selected = 'Romantique'" >
			</div>

			<div class="col-md-2 picto icon-famille" ng-class="{'active':($ctrl.selected == 'Famille')}" id="famille" ng-click="$ctrl.selected = 'Famille'" >
			</div>

			<div class="col-md-2 picto icon-spirituel" ng-class="{'active':($ctrl.selected == 'Spirituel')}" id="spirituel" ng-click="$ctrl.selected = 'Spirituel'" >
			</div>

			<div class="col-md-2 picto icon-culturel" ng-class="{'active':($ctrl.selected == 'Culturel')}" id="culturel" ng-click="$ctrl.selected = 'Culturel'">
			</div>

		</div>
	</div>
	<div>

		<h2> {{ $ctrl.selected }} </h2>
	</div>

	<div>
		<h1> Combien de temps avez-vous ?</h1>
	</div>



</div>

<div class="Modal__foot">
	<div class="container ">
		<div class="row">
			<a ui-sref="app.modaltourparcours" class="col-xs-offset-4 col-xs-2 btn-default"> Let's Go </a>
		</div>
	</div>
</div>
