<div id="home">
    <style>
        .navbar,
        footer {
            display: none !important;
        }

        #section0 svg {
            pointer-events: none;
        }

        #section0 .demo-drawings figcaption {
            margin: 0 auto;
            max-width: 40em;
            width: 95%;
            text-align: center;
        }
        #section0 .demo-drawings figure:first-child figcaption {
            margin-top: 8em;
        }

        #section0 .demo-drawings figcaption h2 {
            font-weight: 300;
            font-size: 3em;
            margin-bottom: 0.2em;
        }

        #section0 .demo-drawings figcaption p {
            font-size: 1.3em;
        }

        #section0 .drawings {
            position: relative;
            max-height: 600px;
        }

        #section0 .illustration {
            position: absolute;
            top: 50%;
            left: 50%;
            max-height: 100%;
            max-width: 100%;
            opacity: 0;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }

        #section0 .show {
            opacity: 1;
        }

        #section0 .hide {
            opacity: 0;
        }

        #section0 .illustration,
        #section0 .line-drawing {
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
        }

        #section0 .line-drawing path {
            fill: none;
            stroke: white;
            stroke-width: 3;
        }

        #section0 path.line-round {
            stroke-linecap: round;
        }

        #section0 path.stroke-medium {
            stroke-width: 2;
        }

        #section0 path.stroke-thin {
            stroke-width: 1;
        }

    </style>
    <div class="bloc-social">
        <a href="#">
            <i class="fa fa-fw fa-facebook"></i>
        </a>
        <a href="#">
            <i class="fa fa-fw fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fa fa-fw fa-instagram"></i>
        </a>
    </div>
    <div id="fullpage">
        <div class="section active" id="section0">
            <!-- h1 class="logo-intro"><img src="img/logo.png"><span>Trouvez des lieux insolites dans votre ville</span></h1 -->
            <div class="logo-intro">
                <div id="main" class="main">
                    <figure>
                        <div class="drawings mac">
                            <img class="illustration" src="img/logo.png" alt="Logo"/>
                            <svg version="1.1" id="mac" style="width: 40%;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 791.3" style="enable-background:new 0 0 2000 791.3;" xml:space="preserve">
                                <style type="text/css">
                                    .st0 {
                                        fill: none;
                                        stroke: #61935A;
                                        stroke-width: 10;
                                        stroke-miterlimit: 10;
                                    }
                                    .st1 {
                                        fill: none;
                                        stroke: #393734;
                                        stroke-width: 10;
                                        stroke-miterlimit: 10;
                                    }

                                </style>
                                <g>
                                    <path
                                        class="st0"
                                        d="M310.6,745.3c-8.6-10.4-17.1-20.4-25.4-30.7c-34.5-42.5-67.1-86.4-97.5-131.9c-28.6-42.8-55-86.8-77.5-133.1
                          c-11.5-23.7-21.7-47.9-30-73c-6.9-21.1-12.5-42.6-15.2-64.7c-1.9-15.1-1.9-30.2-0.8-45.4c2-26.6,8.1-52.2,18.3-76.7
                          c10.4-25,24.5-47.6,42.5-67.8c33.6-37.9,75.1-63,124.1-75.6c25.5-6.5,51.4-8.8,77.6-7.1c48.9,3.2,93.3,19.1,132.6,48.5
                          c41.5,31.1,70.3,71.6,86.4,120.9c6.1,18.6,9.8,37.8,11.3,57.4c1.2,15.4,1.1,30.7-0.8,46c-2.4,19.4-7,38.4-12.8,57.1
                          c-10.4,33.4-24.4,65.3-40.3,96.3c-22.7,44.6-48.9,87.1-77.1,128.4c-35.2,51.6-73,101.4-113.5,149
                          C312.1,743.7,311.5,744.3,310.6,745.3z M487.2,286.1c0-98.9-77.6-176.4-176.4-176.4c-98.8,0-176.4,77.5-176.5,176.4
                          c-0.1,98.9,77.7,176.6,176.6,176.5C409.8,462.4,487.2,384.9,487.2,286.1z"/>
                                    <path
                                        class="st1"
                                        d="M342.1,183.8c-3.1,2.3-6.1,4.3-8.8,6.6c-10,8.3-17.8,18.2-20.9,31c-4.5,19.2,1.3,35.5,15,49.2
                          c9.7,9.7,21.6,14.9,35.3,15.3c11.3,0.4,21.5-3.4,30.6-9.9c7.2-5.1,13.1-11.5,17.9-18.9c0.5-0.8,1-1.5,1.8-2.6
                          c0.8,6,1.3,11.6,2.3,17.1c2.3,12.2,1.8,24.2-0.7,36.3c-4.1,20.6-13.4,38.6-28.2,53.4c-14.1,14.2-31.1,23.7-50.8,27.8
                          c-36.4,7.6-69.2,0.2-97.2-24.8c-16.1-14.4-26.4-32.6-30.8-53.7c-7.6-36.4-0.1-69.2,25-97.1c15.8-17.6,36-27.6,59.1-31.9
                          c13.2-2.4,26.3-1.6,39.4,0.8C334.7,183.1,338.2,183.4,342.1,183.8z"/>
                                </g>
                            </svg>

                        </div>
                    </figure>
                </div>
            </div>
        </div>

        <div class="section" id="section1">
            <h1>Personnalisez vos itinéraires</h1>
            <div class="bloc-icone">
                <img src="img/romantique.png">
                <img src="img/famille.png">
                <img src="img/culturel.png">
                <img src="img/spirituel.png">
            </div>
            <p>Choisissez un thème, définissez le temps que vous avez devant vous et suivez l'itinéraire.</p>
        </div>
        <div class="section" id="section2">
            <h1>Continuez votre itinéraire sur mobile</h1>
        </div>
        <div class="section" id="section3">
            <h1>Partagez vos trouvailles avec vos amis</h1>
            <div class="bloc-icone">
                <i class="fa fa-fw fa-star" style="color: #B84345"></i>
                <i class="fa fa-fw fa-heart" style="color: #DBC634"></i>
            </div>
        </div>
        <div class="section fp-auto-height" id="section4">
            <button ui-sref="app.list" class="commencer">Commencer</button>
        </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery.fullPage.js"></script>
    <script type="text/javascript" src="js/classie.js"></script>
    <script type="text/javascript" src="js/svganimations.js"></script>
</div>
