
.card {
  background-image:url(/img/opera.jpg);
  width: 250px;
height: 200px;
background-size: cover;
}

h4 {
    padding-top: 10px;
    text-align: left;

}
p {
  color: #0b6b06;
  text-align: left;
}
.glyphicon-star {

      font-size: 25px;
    color: black;
}
.glyphicon-heart {
  padding-right: 100px;
  font-size: 25px;
color: black;
}
