/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar-brand {
  background-image: url(/img/logopetit.png);
  width: 135px;
  margin : 10px !important;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar {
    background-color: #a94442;
    border : none !important;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
  background-color: white !important;
  color : #61935a !important;
}

.navbar-inverse .navbar-nav>li>a {
  color : #393734 !important;
  font-size : 2em;
  text-transform: uppercase;
  margin-top : 8px !important;
  margin-right: 8px !important;
  font-family: arial;
}

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
}
